<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SMSOA-20160320095914.mdf;Initial Catalog=aspnet-SMSOA-20160320095914;Integrated Security=True" providerName="System.Data.SqlClient" />

    <!--430-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC;initial catalog=PMS20160325;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--HP 840-->
    <add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8S46LAE\SQLEXPRESS;initial catalog=PMS20160425;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
    <!--单位台式机-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A1BQQ7;initial catalog=PMS20160406;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--QuYuan-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QY-PC\SQLEXPRESS;initial catalog=PMS20160406;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <common>
    <!--log输出配置-->
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true"/>
        <arg key="level" value="INFO"/>
        <arg key="dateTimeFormat" value="HH:mm:ss:fff"/>
      </factoryAdapter>
    </logging>
  </common>
  <!--quartz配置-->
  <quartz>
    <add key="quartz.scheduler.instanceName" value="InDbScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool,Quartz"/>
    <add key="quartz.threadPool.threadCount" value="10"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <!--存储类型-->
    <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz"/>
    <!--表名前缀-->
    <add key="quartz.jobStore.tablePrefix" value="QRTZ_"/>
    <!--驱动类型-->
    <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz"/>
    <!--数据源名称-->
    <add key="quartz.jobStore.dataSource" value="PMS20160406"/>
    <!--连接字符串-->
    <add key="quartz.dataSource.PMS20160406.connectionString" value="Data Source=DESKTOP-5A1BQQ7;Initial Catalog=PMS20160406;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    <!--HP840-->
    <!--<add key="quartz.dataSource.PMS20160425.connectionString" value="Data Source=DESKTOP-8S46LAE\SQLEXPRESS;Initial Catalog=PMS20160425;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <!--sqlserver版本-->
    <add key="quartz.dataSource.PMS20160406.provider" value="SqlServer-20"/>
  </quartz>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="DALAssemblyPath" value="PMS.DALSQLSer"></add>
    <add key="NameSpace" value="PMS.DALSQLSer"></add>
    
    <add key="JobAssemblyPath" value="QuartzDemo"/>
    <add key="JobNameSpace" value="QuartzDemo"/>
    </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>