<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customconfig" type="ConfigManager.MyConfig,ConfigManager"/>
    <!--<sectionGroup name="mygroup">
      <section name="mysection" type="ConfigSection" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>-->
  </configSections>
  <customconfig>
    <user value="2323"/>
  </customconfig>
  <!--<mygroup>
    <mysection user="用户"></mysection>
  </mygroup>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  
</configuration>
