
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Job/Views/Shared/_Layout.cshtml";
}
@section Body{
<div>
    <table class="easyui-datagrid" id="datagrid"></table>
    @*@Html.Partial("_Partial_Toolbar_Action")*@
</div>
    }

