################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BaseJob/bin/Debug/System.Web.Mvc.xml
/BaseJob/bin/Debug/System.Web.Mvc.dll
/BaseJob/bin/Debug/ServiceStack.Interfaces.dll
/BaseJob/bin/Debug/ServiceStack.dll
/BaseJob/bin/Debug/QuartzJobFactory.pdb
/BaseJob/bin/Debug/QuartzJobFactory.dll
/BaseJob/bin/Debug/Quartz.xml
/BaseJob/bin/Debug/Quartz.pdb
/BaseJob/bin/Debug/Quartz.dll
/BaseJob/bin/Debug/PMS.Model.pdb
/BaseJob/bin/Debug/PMS.Model.dll
/BaseJob/bin/Debug/PMS.IModel.pdb
/BaseJob/bin/Debug/PMS.IModel.dll
/BaseJob/bin/Debug/PMS.IDAL.pdb
/BaseJob/bin/Debug/PMS.IDAL.dll
/BaseJob/bin/Debug/PMS.IBLL.pdb
/BaseJob/bin/Debug/PMS.IBLL.dll
/BaseJob/bin/Debug/PMS.DALSQLSer.pdb
/BaseJob/bin/Debug/PMS.DALSQLSer.dll
/BaseJob/bin/Debug/PMS.DALFactory.pdb
/BaseJob/bin/Debug/PMS.DALFactory.dll
/BaseJob/bin/Debug/PMS.BLL.pdb
/BaseJob/bin/Debug/PMS.BLL.dll
/BaseJob/bin/Debug/Newtonsoft.Json.xml
/BaseJob/bin/Debug/Newtonsoft.Json.pdb
/BaseJob/bin/Debug/Newtonsoft.Json.dll
/BaseJob/bin/Debug/Memcached.ClientLibrary.dll
/BaseJob/bin/Debug/log4net.xml
/BaseJob/bin/Debug/log4net.dll
/BaseJob/bin/Debug/EntityFramework.xml
/BaseJob/bin/Debug/EntityFramework.dll
/BaseJob/bin/Debug/Common.pdb
/BaseJob/bin/Debug/Common.Logging.xml
/BaseJob/bin/Debug/Common.Logging.pdb
/BaseJob/bin/Debug/Common.Logging.dll
/BaseJob/bin/Debug/Common.Logging.Core.xml
/BaseJob/bin/Debug/Common.Logging.Core.pdb
/BaseJob/bin/Debug/Common.Logging.Core.dll
/BaseJob/bin/Debug/Common.dll
/BaseJob/bin/Debug/BaseJob.pdb
/BaseJob/bin/Debug/BaseJob.dll
/BaseJob/obj/Debug/BaseJob.pdb
/BaseJob/obj/Debug/BaseJob.dll
/BaseJob/obj/Debug/BaseJob.csprojResolveAssemblyReference.cache
/BaseJob/obj/Debug/BaseJob.csproj.FileListAbsolute.txt
/Common/bin/Debug/System.Web.Mvc.xml
/Common/bin/Debug/System.Web.Mvc.dll
/Common/bin/Debug/System.Configuration.dll
/Common/bin/Debug/ServiceStack.ServiceInterface.dll
/Common/bin/Debug/ServiceStack.Interfaces.dll
/Common/bin/Debug/ServiceStack.dll
/Common/bin/Debug/Quartz.xml
/Common/bin/Debug/Quartz.pdb
/Common/bin/Debug/Quartz.dll
/Common/bin/Debug/PMS.Model.pdb
/Common/bin/Debug/PMS.Model.dll
/Common/bin/Debug/PMS.IModel.pdb
/Common/bin/Debug/PMS.IModel.dll
/Common/bin/Debug/Newtonsoft.Json.xml
/Common/bin/Debug/Newtonsoft.Json.pdb
/Common/bin/Debug/Newtonsoft.Json.dll
/Common/bin/Debug/Memcached.ClientLibrary.dll
/Common/bin/Debug/log4net.xml
/Common/bin/Debug/log4net.dll
/Common/bin/Debug/ICSharpCode.SharpZipLib.dll
/Common/bin/Debug/EntityFramework.xml
/Common/bin/Debug/EntityFramework.dll
/Common/bin/Debug/Commons.dll
/Common/bin/Debug/Common.pdb
/Common/bin/Debug/Common.Logging.xml
/Common/bin/Debug/Common.Logging.pdb
/Common/bin/Debug/Common.Logging.dll
/Common/bin/Debug/Common.Logging.Core.xml
/Common/bin/Debug/Common.Logging.Core.pdb
/Common/bin/Debug/Common.Logging.Core.dll
/Common/bin/Debug/Common.dll.config
/Common/bin/Debug/Common.dll
/ISMS/bin/Debug
/SMSOA/FileUpLoad
