<div style="width:99%;height:49%;">
    <div style="width:30%;height:100%;float:left;margin:2px;">
        <div id="p3" class="easyui-panel" title="系统消息" style="width:98%;height:98%"
             data-options="fit:true,tools:'#tt'">
            <div class="easyui-datagrid" id="sysNotice_datagrid"></div>
        </div>
    </div>
    <div id="p41" style="width:30%;height:100%;float:left;margin:2px;">
        <div id="p4" class="easyui-panel" title="公告" style="width:98%;height:98%;"
             data-options="fit:true">
            <div id="currentDay_container" style="width:99%;height:99%;"></div>
        </div>
    </div>
</div>

<div id="tt">
    <a href="javascript:void(0)" class="icon-reload" onclick="javascript:alert('add')"></a>
    <a href="javascript:void(0)" class="icon-search" onclick="javascript:alert('edit')"></a>   
</div>
