<div class="easyui-window" title="查看消息" id="viewMsgWindow" scrolling="no" style="width:400px;height:350px;overflow: hidden;" data-options="shadow:true,modal:true">
    <iframe id="viewMsgFrame" frameborder="0" width="100%" height="100%"></iframe>
</div>
