@*<div style="position:relative;overflow:auto;height:370px;border:1px solid #ddd">*@
<script type="text/javascript">
    function getAllList() {
        var obj = {
            attributes: {},
            setAttribute: function (name, value) {
                //首先，要先获取添加的属性的存放位置。
                var attr = this.attributes;
                //检查新添加的方法，是不是已经存在,如果不存在，则进行添加
                if(name in attr){
                    //对于我们这里，检查这个其实可有可无，因为不管是有没有存在，添加值是使用的同样的方法，但这个检测在写代码时，都是要考虑的，所以就加这么一个无意义的判断吧。
                    attr[name] = value;
                }else{
                    attr[name] = value;
                }
            }

            }
    

        obj.setAttribute("url", "/News/Home/NewsListShow");
        obj.text = "全部消息";
        //obj.setAttribute("url", "123");
        //obj["url"] = "123";
        window.parent.createTabs(obj);
    }
</script>

<div style="width:99%;height:49%;">
    <div style="width:30%;height:100%;float:left;margin:6px;">
        @*<div class="easyui-window" title="系统消息" style="width:98%;height:98%" data-options="left:10,top:10,inline:true,tools:'#tt'">*@
            <div id="p3" class="easyui-panel" title="消息" style="width:98%;height:98%"
                data-options="fit:true,border:false,tools:'#tt'">
            <div class="easyui-datagrid" id="sysNotice_datagrid"></div>
        </div>
    </div>
    <div id="p41" style="width:30%;height:100%;float:left;margin:6px;">
        @*<div class="easyui-window" title="公告" style="width:98%;height:98%" data-options="left:10,top:10,inline:true,tools:'#tt'">*@
            <div id="p4" class="easyui-panel" title="公告" style="width:98%;height:98%;"
            data-options="fit:true,tools:'#tt'">
            <div id="currentDay_container" style="width:99%;height:99%;"></div>
        </div>
    </div>
    <div id="p41" style="width:30%;height:100%;float:left;margin:6px;">
        @*<div class="easyui-window" title="日历" style="width:98%;height:98%" data-options="inline:true,tools:'#tt'">*@
            <div id="p4" class="easyui-panel" title="日历" style="width:98%;height:98%;"
            data-options="fit:true,cls:'c4'">
            <div class="easyui-calendar" style="width:97%;height:100%;"></div>
        </div>
    </div>
</div>

<div id="tt">
    <a href="javascript:void(0)" class="icon-reload" onclick="javascript:alert('add')"></a>
    <a href="javascript:void(0)" class="icon-search" onclick="getAllList()"></a>   
</div>
