
@{
    ViewBag.Title = "ShowMsg";
    Layout = "~/Areas/News/Views/Shared/_Layout_ShowWindow.cshtml";
}

@section Body{
    
<div class="my-header">
    <strong>测试测试</strong>
</div>
<div class="my-body">
    <div>
        <header>
            <h3>测试题目</h3>
        </header>
        <section>
            <p>测试内容测试内容</p>
        </section>
        <footer></footer>
    </div>
</div>
    }

