@{
   
    string userMsg = null;
    if (ViewBag.UserInfo != "")
    {
        userMsg = ViewBag.UserInfo ;
    }
    else
    {
        userMsg = "未登录";
    }
}

<div>
    <a href="javascript:void(0)" class="easyui-menubutton" data-options="menu:'#mm_user',iconCls:'icon-home-user'">当前用户: @userMsg </a>
    <div id="mm_user" style="width:150px;">
        <div data-options="iconCls:'icon-home-personalsetting'" class="myconfig">个人设置(尚未开通)</div>
        <div data-options="iconCls:'icon-home-setpassword'" class="changepwd">修改密码(尚未开通)</div>
        <div data-options="iconCls:'icon-home-setpassword'" class="changepwd">回收站(正在实现)</div>
        <div class="menu-sep"></div>
        <div data-options="iconCls:'icon-home-logoutyellow'" class="loginOut"><a href="/Admin/Home/LoginOut" style="color:#ffffff">注销</a></div>
    </div> 
</div>
