
@{
    Layout = null;
    string userMsg = null;
    if(ViewBag.UserInfo!="")
    {
        userMsg = "欢迎:" + ViewBag.UserInfo + "登录";
    }
    else
    {
        userMsg = "未登录";
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    <script type="text/javascript">
        
            $(function () {
                //1 初始化手风琴
                $("#WestAccordion").accordion({
                    fillSpace: true,
                    fit: true,
                    border: false,
                    animate: true  //是否显示动画效果
                })
                //2 加载手风琴
                var array = [{ "id": 3, "text": "管理权限", "state": null, "Checked": false, "attributes": null, "children": null }, { "id": 33, "text": "发送短信", "state": null, "Checked": false, "attributes": null, "children": null }, { "id": 34, "text": "发送统计", "state": null, "Checked": false, "attributes": null, "children": null }, { "id": 35, "text": "系统管理", "state": null, "Checked": false, "attributes": null, "children": null }];                
                //$.each(array, function (i, e) {
                //    //alert(e.text);
                //    addPanel(e.text)
                //})


                $.post("/Admin/Home/GetMenuItem", function (data) {
                    //alert(data);
                    var test = data;
                    $.each(test, function (i, e) {
                        addPanel(e);
                        TreeContent(e);
                    })
                },'json')
            })

        //添加手风琴项
            function addPanel(row) {
                $("#WestAccordion").accordion('add', {
                    title: row.text,
                    //获取每一个当前对象中判断children是否为空
                    content: "<ul id='tNodeId" + row.id + "' ></ul>"
                   
                });
            }
            
            function TreeContent(row) {
                //判断当前对象中children是否为空
                if (row.children.length == 0) {
                    return
                }
                else {
                    $("#tNodeId" + row.id).tree({
                        data: row.children,
                        onClick:function(node){
                            createTabs(node);
                        },
                        animate: true
                    })
                }
            }
            $('#easyui_tree').tree({
                url: '/Admin/Home/GetMenuItem',
                onLoadSuccess: function (node, data) {
                    //调用方法 统一处理 Ajax获取的 json数据！
                    //$.procAjaxData(data);
                },
                onClick: function (node) {
                    createTabs(node);
                },
                animate:true
            });
        

        function createTabs(treeNode) {
            var $tabs = $("#tabs"); //获取tabs的容器
            //判断是否已经存在同名的tab
            if ($tabs.tabs("exists", treeNode.text)) {

                var currentTab = $tabs.tabs('getSelected');//取得当前选中的选项卡
                //获取本选项卡的标题
                var currentTabTitle = currentTab.panel('options').title;
                //判断当前的标题与 被点击的节点的标题是否相等，成立则刷新
                if (currentTabTitle == treeNode.text) {
                    $tabs.tabs('update', {
                        tab: currentTab,
                        fit : true,
                        options: {

                            content: createNewIframe(treeNode.attributes.url)
                        }
                    });

                }
                //若不相等则选中 对应的tab
                $tabs.tabs("select", treeNode.text);
            }
                //若当前的tabs中不含有指定tab则创建该tab，并连接到指定页面
            else {
                $tabs.tabs('add', {
                    title: treeNode.text,
                    selected: true,
                    closable: true,
                    //style:{overflow: hidden},
                    fit: true,
                    content: createNewIframe(treeNode.attributes.url),
                    //style: { overflow: "hidden" }//?
                });
            }

        }
        //style="margin:10px"
        //创建一个指定url的iframe
        //function createNewIframe(url) {
        //    var iframeStr = "<iframe scrolling='no' frameborder='0'  src='" + url + "' style='width:100%;height:99%;frameborder:0px solid #000;scrolling=no;overflow: hidden'></iframe>";
        //    return iframeStr;
        //}
        function createNewIframe(url) {
            var iframeStr = "<iframe frameborder='0'  src='" + url + "' style='width:100%;height:99%;frameborder:0px solid #000;'></iframe>";
            return iframeStr;
        }
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px; padding:10px;background-image:url(/Content/Images/background/blue2_background.png);background-size:100%;background-repeat:no-repeat">    
        <span class="txt">@userMsg @DateTime.Now.ToString("yyyy-MM-dd")</span> 
        <a href="/Admin/Home/LoginOut" style="color:#ffffff">注销</a>
    </div>
    <div data-options="region:'west',split:true,title:'操作列表'" style="width:130px; padding:0px;">
        <div class="easyui-accordion" id="WestAccordion" style="width:100%;padding:0px">
        </div>
        <div class="easyui-panel" style="padding:0px;border:0px;overflow-x:hidden">
        </div>
    </div>
    @*<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">
    </div>*@
    <div data-options="region:'south',border:false" style="height:50px;padding:10px;background-image:url(/Content/Images/background/blue2_background.png);background-size:100%;background-repeat:no-repeat">
        <span class="txt" style="position:relative;width:100%;height:100%;">
        预报中心网络部开发 Copyright ? nmefc</span> 
    </div>
    <div data-options="region:'center',title:'Center'" style="overflow-x:hidden;overflow-y:hidden">
        <div id="tabs" class="easyui-tabs" style="width:100%;height:100%;overflow-x:hidden;">

        </div>

    </div>
</body>
</html>
