<div style="height:48%;width:100%;">
    @*<div style="height:48%;width:99.5%;border:1px dashed #ffffff">*@
        <div id="div_dg" style="height:100%">
            <table class="easyui-datagrid" id="datagrid" data-options="toolbar:'#tb'"></table>
        </div>

        <div id="tb" style="padding:2px 5px;">
            <input type="hidden" id="date_target" name="date_target" />
            <input type="hidden" id="date_start" name="date_start" />
            <input type="hidden" id="date_finish" name="date_finish" />
            <input type="hidden" id="cid" />
            <table cellspacing="5" style="font-size:15px">
                
                <tr>
                    <td>查询用户</td>
                    <td><select class="easyui-combotree" name="UDID" id="smsUserInfo_combogrid" style="width:130px" data-options="editable:false"></select></td>
                    <td>查询任务种类</td>
                    <td><select class="easyui-combotree" name="PDID" id="smsMission_combogrid" style="width:130px" data-options="editable:false"></select></td>
                    <td>查询信息类型</td>
                    <td><select class="easyui-combotree" name="isMMS" id="MessageType_combogrid" style="width:60px" data-options="editable:false"></select></td>
                     <td>查询日期</td>
                    <td><a href="#" class="easyui-menubutton" id="date_menu" data-options="menu:'#mm1',iconCls:'icon-edit'">选择日期</a></td>
                    <td><a class="easyui-linkbutton" iconCls="icon-search" onclick="searchBy()">查询</a></td>
                </tr>
            </table>
        </div>

        <div id="mm1" style="width:150px;">
            <div class="menu-sep"></div>
            <div data-options="name:'today'">今日（未实现）</div>
            <div data-options="name:'lastWeek'">最近一周（未实现）</div>
            <div data-options="name:'lastMonth'">本月（未实现）</div>
            <div class="menu-sep"></div>
            <div>
                <span>具体某天</span>
                <div id="mm3" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                    @*<div>*@
                        <div>某天</div>
                        @*<div id="mm3" class="menu-content" style="background:#808080;padding:10px;text-align:left"></div>*@
                        <div class="easyui-calendar" name="today" id="calendar_today" style="width:250px;height:250px;"></div>
                        <div style="margin:20px 0"></div>
                        <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'" onclick="hideMyMenu()">提交</a>
                    @*</div>*@
                </div>
            </div>
            <div>
                <span>某天之前</span>
                <div id="mm4" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                    <div>某天</div>
                    <div class="easyui-calendar" name="beforesomeday" id="calendar_beforeSomeDay" style="width:250px;height:250px;"></div>
                    <div style="margin:20px 0"></div>
                    <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'" id="ok" onclick="hideMyMenu()">提交</a>
                </div>
            </div>
            <div>
                <span>某天之后</span>
                <div id="mm5" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                    <div>某天</div>
                    @*<input class="easyui-datebox"></input>*@
                    <div class="easyui-calendar" name="aftersomeday" id="calendar_afterSomeDay" style="width:250px;height:250px;"></div>
                    <div style="margin:20px 0"></div>
                    <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'" onclick="hideMyMenu()">提交</a>
                </div>
            </div>
            <div>
                <span>时间范围</span>
                <div id="mm6" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                    <table cellspacing="2" style="font-size:15px">
                        <tr>
                            <td>起始时间</td>
                            <td>终止时间</td>
                        </tr>
                        <tr>
                            <td><div class="easyui-calendar" name="date_start" id="calendar_start" style="width:250px;height:250px;"></div></td>
                            <td><div class="easyui-calendar" name="date_finish" id="calendar_finish" style="width:250px;height:250px;"></div></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div style="margin:20px 0"></div>
                                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'" onclick="hideMyMenu()">提交</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="easyui-window" @*title="New Topic"*@ id="editWindow" style="width:400px;height:400px;overflow: hidden" data-options="shadow:true,modal:true">
            <iframe id="setActionRoleFrame" frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
        </div>

    </div>
