
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SMS_Layout.cshtml";
}

@section SectionJS{
    <style type="text/css">
        /*#p2{
            float:left;
        }
        #p4{
            float: right;
        }*/
        /*.panel{float:left;margin-left: 5px;}*/
     </style>
    <script type="text/javascript">
        var myColumns = [[
                { field: 'ContentID', title: 'ID', hidden: true },
                { field: 'MissionName', title: '短信任务', width: 110 },
                { field: 'Content', title: '发送内容', width: 350 },
                {
                    field: 'SendDateTime', title: '发送时间', width: 100,
                    formatter: function (value) {
                        var date = new Date(value);
                        var str =(date.getMonth()+1) + "月" + date.getDate()+"日";
                        return str;
                    }
                },
                { field: 'TotalOfReceiveNum', title: '发送总人数', width: 100 },
                { field: 'NotReceiveNum', title: '未收到人数', width: 100 }
        ]]

         function Data2Str(fmt) { //author: meizz 
            
            return fmt;
        }

        function loadDataGrid_Statistic() {
            $("#statisticlast10_datagrid").datagrid({
                width: 'auto',
                height: 'auto',
                fitColumns: false,
                striped: true,
                singleSelect: true,
                url: '@ViewBag.GetStatisticLast10',
                autoRowHeight: true,
                nowrap: false,//自动换行
                loadMsg: '数据加载中请稍后……',
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 10,   //设置 页容量为 5
                pageList: [5, 10, 20],//设置 页容量下拉框
                columns: myColumns

            });

            $("#statisticCurrentDay_datagrid").datagrid({
                width: 'auto',
                height: 'auto',
                fitColumns: true,
                striped: true,
                singleSelect: true,
                url: '@ViewBag.GetStatisticCurrentDay',
                autoRowHeight: true,
                nowrap: false,//自动换行
                loadMsg: '数据加载中请稍后……',
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 10,   //设置 页容量为 5
                pageList: [5, 10, 20],//设置 页容量下拉框
                columns: myColumns

            });
        }

        function loadLast10_highcharts(data_sendDateTime, data_receive, data_notReceive) {
            $('#last10_container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '该用户近十条短信'
                },
                xAxis: {
                    categories: data_sendDateTime
                },
                yAxis: {
                    title: {
                        text: 'something'
                    }
                },
                //版权信息
                credits:{
                    //enabled: false // 禁用版权信息
                    text:'nmefc'
                },
                series: [{
                    name: '共发送',
                    data: data_receive
                    //[10, 12, 15]
                }, {
                    name: '收到',
                    data: data_notReceive
                    //[2, 1, 7]
                }]
            });
        }

        function loadCurrentDay_highcharts(data_sendDateTime, data_receive, data_notReceive) {
            $('#currentDay_container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '当日发送短信统计'
                },
                xAxis: {
                    categories: data_sendDateTime
                },
                yAxis: {
                    title: {
                        text: 'something'
                    }
                },
                //版权信息
                credits: {
                    //enabled: false // 禁用版权信息
                    text: 'nmefc'
                },
                series: [{
                    name: '共发送',
                    data: data_receive
                    //[10, 12, 15]
                }, {
                    name: '收到',
                    data: data_notReceive
                    //[2, 1, 7]
                }]
            });
        }

        function AjaxGetChart(url) {
            var temp;
            $.ajax({
                url: url,
                //data: JSON.stringify(model),
                type: 'GET',//注意此处必须注明为json格式，否则后台控制器无法通过Model的方式接收
                dataType: "json",
                async: false,
                success: function (data) {
                    //alert("提交成功");
                    temp = data;
                    //alert(data.Array_notReceive);
                    //alert(data.Array_receive);
                }
            });
            return temp;
        }

        $(function () {
            loadDataGrid_Statistic();


            var temp_last10 = AjaxGetChart('@ViewBag.GetStatisticLast10_Chart');
            loadLast10_highcharts(temp_last10.Arrat_DataTime, temp_last10.Array_total, temp_last10.Array_revice);
            var temp_currentDay = AjaxGetChart('@ViewBag.GetStatisticCurrentDay_Chart');
            //将其中的时间进行修改
            var date = temp_currentDay.Arrat_DataTime;
            var array = new Array(10);
            //将数组中的每一个时间进行格式化
            //date.each(function (index,value) {

            //})
            loadCurrentDay_highcharts(temp_currentDay.Arrat_DataTime, temp_currentDay.Array_total, temp_currentDay.Array_revice);
        })
    </script>

    }
<div id="p0" class="easyui-panel" style="height:720px;padding:5px;border:0px">
    <div style="width:1300px;border:1px dashed #ffd800;">
        <div style="width:810px;height:360px;border:1px dashed #808080;float:left">
            <div id="p1" class="easyui-panel" title="当前用户发送短信统计" style="height:350px;padding:3px;"
                 data-options="collapsible:true,minimizable:true,maximizable:true,closable:true">
                <div class="easyui-datagrid" id="statisticlast10_datagrid"></div>
            </div>
        </div>
        <div id="p21" style="width:410px;border:1px dashed #808080;float:left;">
            <div id="p2" class="easyui-panel" title="当前用户发送短信趋势图" style="width:400px;height:350px;padding:3px;"
                 data-options="collapsible:true,minimizable:true,maximizable:true,closable:true">
                <div id="last10_container" style="height: 300px;max-width:390px;"></div>

            </div>
        </div>
    </div>

    <div style="width:1300px;border:1px dashed #ff6a00;">
        <div style="width:810px;height:360px;border:1px dashed #808080;float:left">
            <div id="p3" class="easyui-panel" title="用户当日发送短信统计" style="height:350px;padding:3px;"
                 data-options="collapsible:true,minimizable:true,maximizable:true,closable:true">
                <div class="easyui-datagrid" id="statisticCurrentDay_datagrid"></div>
            </div>
        </div>        
        <div id="p41" style="width:410px;border:1px dashed #808080;float:left;">
            <div id="p4" class="easyui-panel" title="用户当日发送短信趋势图" style="width:400px;height:350px;padding:3px;"
                     data-options="collapsible:true,minimizable:true,maximizable:true,closable:true">
                    <div id="currentDay_container" style="height: 300px;max-width:390px;"></div>
            </div>
       </div>

    </div>


    </div>
