
@{
    ViewBag.Title = "Index_AdvancedSearch";
    Layout = "~/Views/Shared/_SMS_Layout.cshtml";
}

@section SectionJS{
    <script type="text/javascript">
        $(function () {
            $("#editWindow").window('close');
            loadDataGrid('@ViewBag.GetPageStatisticList', myColumns);
            loadComboGrid_Mission();
            var now_date = new Date();
            now_date = now_date.toLocaleDateString();
            onClickBind();
            $("#mm1").menu({
                onClick: function (item) {
                    SetDateVal(item, now_date);
                }
            })

            //$("#calendar_today").calendar({
            //    onSelect: function (date) {
            //        alert(date.toLocaleDateString());
            //        var item = { name: 'today' };
            //        SetDateVal(item, date.toLocaleDateString());
            //    }

            //})

            $("#calendar_beforeSomeDay").calendar({
                onSelect: function (date) {
                    alert(date.toLocaleDateString());
                    var item = { name: 'beforesomeday' };
                    SetDateVal(item, date.toLocaleDateString());
                }
            })

            $("#calendar_afterSomeDay").calendar({
                onSelect: function (date) {
                    alert(date.toLocaleDateString());
                    var item = { name: 'aftersomeday' };
                    SetDateVal(item, date.toLocaleDateString());
                }
            })

            $("#calendar_afterSomeDay").calendar({
                onSelect: function (date) {
                    alert(date.toLocaleDateString());
                    var item = { name: 'aftersomeday' };
                    SetDateVal(item, date.toLocaleDateString());
                }
            })
        })
        

        
        function dateFormat(date) {
            
            
            var beginDate;
            var now = new Date(date);
            var month = now.getMonth;
            now.setMonth()
            return now;
        }

        Date.getDayOfMonth = function (y, Mm) {
            ///	<summary>
            ///	计算当前月一共多少天
            ///
            ///	</summary>
            ///	<returns type="Number" />
            ///	<param name="y" type="Number">
            ///		年,若为空则为当前时间
            ///	</param>
            ///	<param name="Mm" type="Number">
            ///		月,0开始,若为空则为当前时间
            ///	</param>
            if (typeof y == 'undefined') { y = (new Date()).getFullYear(); }
            if (typeof Mm == 'undefined') { Mm = (new Date()).getMonth(); }
            var Feb = (y % 4 == 0) ? 29 : 28;
            var aM = new Array(31, Feb, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
            return aM[Mm];
        };


        function dateAdd(date, num) {
            var source_date = new Date(date);
            source_date = source_date.valueOf();
            source_date = source_date + num * 24 * 60 * 60 * 1000;
            var target_date = new Date(source_date);
            return target_date.toLocaleDateString();
        }
        
        function onClickBind() {
            $(".easyui-linkbutton").each(function () {
                $(this).click(function () {
                    //alert("被点击了");
                    var parent = $(this).parent(".menu-content");
                    var calenars = parent.children(".calendar");
                    //判断该calendar是否为一个
                    if (calenars.length == 0)
                    {
                        alert("未获取到子节点");
                        var parent_parent = $(this).parent().parent();
                        calenars = $(this).parent().parent().parent().find(".calendar")
                        if (calenars.length > 1) {
                            //遍历获取每个日历中的日期
                            calenars.each(function (temp) {
                                var date = $(this).calendar('options')['current'];
                                alert("被点击的日期为" + date.toLocaleDateString());
                            })
                        }
                    }
                    else
                    {
                        alert("只获取一个子节点");
                        //var year = calenars.calendar('options')['year'];
                        //var month = calenars.calendar('options')['month'];
                        var date = calenars.calendar('options')['current'];
                        //alert("被点击的日期为"+year+"/"+month+"/"+day);
                        alert("被点击的日期为" + date.toLocaleDateString());
                        //获取当前被点击的对象的name值
                        var names = $(this).attr("name");
                        //根据当前的name进行判断
                        var item = { name: names };
                        SetDateVal()
                    }
                   
                })
            })
        }

        function getTargetDate(obj) {
            //var temp = obj;



            var parent = $(this).parent(".menu-content");
            //var ww = $("#calendar_today").datebox('getValue');
            //测试 使用如下方式可以去到日历中的时间
            $("#ok").parent(".menu-content").children(".calendar").calendar('options')['year']

            var year = $("#calendar_today").calendar('options')['year'];
            //var month=$
            alert(ww1);
            //var date = parent.children(".easyui-calendar").calendar().datebox('getValue');
            //temp.parent();
        }

        Date.getDateByAddDays = function (dt, num) {
            ///	<summary>
            ///	对传入的时间进行加法运算
            ///	</summary>
            ///	<returns type="Date" />
            ///	<param name="dt" type="Date">
            ///		参照日期，若为空则为当前时间
            ///	<param name="num" type="Int">
            ///		要加或减的天数
            ///	</param> 
            var source_date = new Date(date);
            source_date = source_date.valueOf();
            source_date = source_date + num * 24 * 60 * 60 * 1000;
            var target_date = new Date(source_date);
            return target_date.toLocaleDateString();
        }

        Date.getDateOfPreMonth = function (dt) {
            ///	<summary>
            ///	返回上一月的日期
            ///
            ///	</summary>
            ///	<returns type="Date" />
            ///	<param name="dt" type="Date">
            ///		参照日期，若为空则为当前时间
            ///	</param> 

            var now = new Date(dt);
            if (typeof dt == 'undefined') { dt = (new Date()); }
            var y = (now.getMonth() == 0) ? (now.getFullYear() - 1) : now.getFullYear();
            var m = (now.getMonth() == 0) ? 11 : now.getMonth() - 1;
            var preM = Date.getDayOfMonth(y, m);
           Date.get
            var d = (preM < now.getDate()) ? preM : now.getDate();
            return new Date(y, m, d).toLocaleDateString();
        };

        function SetDateVal(temp, date1,date2) {
            ///	<summary>
            ///	将起始、终止以及指定时间赋值到隐藏域中
            ///	</summary>
            ///	<returns type="Date" />
            ///	<param name="temp" type="Object">
            ///保存要保存的类型的对象（.name可查看时间）
            /// </param> 
            ///	<param name="dt" type="Date">
            ///		参照日期，若为空则为当前时间
            ///	</param> 
            switch (temp.name) {
                case 'today':
                    $("#date_target").val(date1);
                    $("#date_start").val(999);
                    $("#date_finish").val(999);
                    break;

                case 'beforesomeday':
                    $("#date_target").val(999);
                    $("#date_start").val(998);
                    $("#date_finish").val(date1);
                    break;

                case 'aftersomeday':
                    $("#date_target").val(999);
                    $("#date_start").val(date1);
                    $("#date_finish").val(998);
                    break;

                case 'lastWeek':
                    $("#date_target").val(999);
                    
                    $("#date_start").val(Date.getDateByAddDays(date1, -7));
                    $("#date_finish").val(date1);
                    break;

                case 'lastMonth':
                    $("#date_target").val(999);
                    $("#date_start").val(Date.getDateOfPreMonth(date1));
                    $("#date_finish").val(date1);
            }
            //alert("选中的时间为：" + $("#date_target").val() + " |" + "选中的起始时间为：" + $("#date_start").val() + " |" + "选中的终止时间为：" + $("#date_finish").val());
        }

        //将时间转为指定格式
        function DataFormatter(value) {
            var date = new Date(value);
            var str = (date.getMonth() + 1) + "月" + date.getDate() + "日";
            return str;
        }

        var missionColumns = [[
                 //{ field: 'ck', checkbox: true },
                 { field: 'SMID', title: 'ID', width: 100, checkbox: true },
                 { field: 'SMSMissionName', title: '群组名称', width: 150 }
                 //{ field: 'Operate', title: '是否禁用', width: 150 }
        ]]

        var myColumns = [[
                { field: 'ContentID', title: 'ID', width: 100, hidden: true },
                { field: 'MissionName', title: '短信任务', width: 80 },
                { field: 'Content', title: '发送内容', width: 280 },
                {
                    field: 'SendDateTime', title: '发送时间', width: 80,
                    formatter: DataFormatter
                },
                { field: 'TotalOfReceiveNum', title: '发送总人数', width: 80 },
                { field: 'NotReceiveNum', title: '未收到人数', width: 80 }
        ]]

        function loadComboGrid_Mission() {

            //加载全部短信任务种类
            $("#smsMission_combogrid").combogrid({
                url: '@ViewBag.GetAllMission',
                method: 'get',
                idField: 'SMID',
                textField: 'SMSMissionName',
                //width: 150,
                panelWidth: 180,
                panelHeight: 'auto',
                multiple: false,
                columns: missionColumns,
                onClickRow: function (rowIndex, rowData) {
                    //loadDataGridByGroupDepartment_Personss();
                }
            })
        }


        function loadDataGrid(url, myColumns) {
            //2 位treegrid加载数据
            $("#datagrid").datagrid({
                width: '400px',
                height: 'auto',
                fitColumns: false,
                striped: true,
                showFooter: true,
                singleSelect: true,
                nowrap: false,//自动换行
                fit: true,
                url: url,
                loadMsg: '加载中……',
                columns: myColumns,
                //toolbar: toolbar
                pagination: true,//启用分页，默认每页10行
                rownumbers: true,//显示页码，默认 提供 10 - 50 的页容量选择下拉框
                pageSize: 10,   //设置 页容量为 5
                pageList: [5, 10, 20],//设置 页容量下拉框
            });
        }
    </script>
    }

<div style="height:300px">
    <table class="easyui-datagrid" id="datagrid" data-options="toolbar:'#tb'"></table>
    
    <div id="tb" style="padding:2px 5px;">
        <input type="hidden" id="date_target" name="date_target" />
        <input type="hidden"id="date_start" name="date_start" />
        <input type="hidden"id="date_finish" name="date_finish" />
        <table cellspacing="5" style="font-size:15px">
            <tr>
                <td>指定联系人名称</td>
                <td><input class="easyui-textbox" id="personName"style="width:200px"></td>
                <td>匹配电话号码</td>
                <td><input class="easyui-textbox"id="personPhoneNum" style="width:200px"></td>
                <td><a href="#" class="easyui-linkbutton" iconCls="icon-search">查询</a></td>
            </tr>
            <tr>
                <td>短信任务种类</td>
                <td><select class="easyui-combotree" name="PDID" id="smsMission_combogrid" style="width:130px" data-options="required:true"></select></td>
                <td>查询日期</td>
                <td><a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-edit'">Edit</a></td>
            </tr>
        </table>        
    </div>

    <div id="mm1" style="width:150px;">        
        <div class="menu-sep"></div>
        <div data-options="name:'today'">今日</div>
        <div data-options="name:'lastWeek'">最近一周</div>
        <div data-options="name:'lastMonth'">本月</div>
        <div class="menu-sep"></div>
        <div>
            <span>具体某天</span>
            <div id="mm3" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                <div>某天</div>
                <div class="easyui-calendar" id="calendar_today"style="width:250px;height:250px;"></div>
                <div style="margin:20px 0"></div>
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'"@*onclick="getTargetDate()"*@ >提交</a>
            </div>
           
        </div>
        <div>
            <span>某天之前</span>
            <div id="mm3" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                <div>某天</div>
                <div class="easyui-calendar" id="calendar_beforeSomeDay" style="width:250px;height:250px;"></div>
                <div style="margin:20px 0"></div>
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'"id="ok" onclick="getTargetDate()">提交</a>
            </div>
        </div>
        <div>
            <span>某天之后</span>
            <div id="mm3" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                <div>某天</div>
                @*<input class="easyui-datebox"></input>*@
                <div class="easyui-calendar" id="calendar_afterSomeDay"  style="width:250px;height:250px;"></div>
                <div style="margin:20px 0"></div>
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'" onclick="getTargetDate()">提交</a>
            </div>
        </div>
        <div>
            <span>时间范围</span>
            <div id="mm3" class="menu-content" style="background:#808080;padding:10px;text-align:left">
                <table cellspacing="2" style="font-size:15px">
                    <tr>
                        <td>起始时间</td>                        
                        <td>终止时间</td>
                    </tr>
                    <tr>
                        <td><div class="easyui-calendar" id="calendar_start" style="width:250px;height:250px;"></div></td>
                        <td><div class="easyui-calendar" id="calendar_finish" style="width:250px;height:250px;"></div></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><div style="margin:20px 0"></div>
<a class="easyui-linkbutton c6" style="margin-bottom:5px;width:100%" data-options="iconCls:'icon-ok'" onclick="getTargetDate()">提交</a></td>
                    </tr>
                    </table>
            </div>
        </div>        
    </div>

    <div class="easyui-window" @*title="New Topic"*@ id="editWindow" style="width:400px;height:400px;overflow: hidden" data-options="shadow:true,modal:true">
        <iframe id="setActionRoleFrame" frameborder="0" width="100%" height="100%" @*scrolling="no"*@ @*不显示滚动条*@></iframe>
    </div>

</div>

