<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RedisConfig" type="Common.Redis.RedisConfig, Common" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!--HP 840 Redis配置-->
  <!--<RedisConfig WriteServerList="192.168.1.102:6379" ReadServerList="192.168.1.102:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false"></RedisConfig>-->

  <!--单位台式机 Redis配置-->
  <RedisConfig WriteServerList="192.168.0.116:6379" ReadServerList="192.168.0.116:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false"></RedisConfig>

  <!--数据库连接字符串-->
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SMSOA-20160320095914.mdf;Initial Catalog=aspnet-SMSOA-20160320095914;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--430-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC;initial catalog=PMS20160325;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--HP 840-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8S46LAE\SQLEXPRESS;initial catalog=PMS20160425;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--单位台式机-->
    <add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A1BQQ7;initial catalog=SMS_NMEFC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--QuYuan-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QY-PC\SQLEXPRESS;initial catalog=PMS20160325;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DALAssemblyPath" value="PMS.DALSQLSer" />
    <add key="NameSpace" value="PMS.DALSQLSer" />
    <!--单位毫秒-->
    <add key="sleepTime" value="1000" />
    <add key="id_list" value="mylist" />
    <add key="id_hash" value="hash_sms" />
    <add key="id_list_msgid" value="list_msgid" />
    <add key="seconds_add" value="-10" />

    <!--再次查询间隔-->
    <add key="Interval_QueryAgain" value="2" />
    <!--对象在缓存中保存的过期时间-->
    <add key="Interval_OverTime" value="4320" />

    <!--hash的key-->
    <!--
    <add key ="Interval_QueryAgain" value="100"/>
    -->
    <!--第二次查询时list的key-->
    <!--
    <add key="Interval_OverTime" value="100"/>-->

    <add key="WFAssemblyPath" value="QueryWFLib" />
    <add key="WFNameSpace" value="QueryWFLib" />
    <!--预报中心账号-->
    <add key="SMSAccount" value="dh74381"/>
    <add key="SMSPwd" value="uAvb3Qey"/>
    <add key="SMSSign" value="【国家海洋预报台】"/>
    <!--工作流持久化连接字符串-->
    <!--<add key="workflowConnection" value="server=DESKTOP-8S46LAE\\SQLEXPRESS;initial catalog=PMS20160425;integrated security=True;" />-->
    <!--单位台式机-->
    <add key="workflowConnection" value="Data Source=DESKTOP-5A1BQQ7;Initial Catalog=SMS_NMEFC;Integrated Security=True;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />

    <!--HP 840-->
    <!--<add key="workflowConnection" value="Data Source=DESKTOP-8S46LAE\SQLEXPRESS;Initial Catalog=PMS20160425;Integrated Security=True;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->

    <!-- T430 -->
    <!--<add key="workflowConnection" value="Data Source=ADMIN-PC;Initial Catalog=PMS20160325;Integrated Security=True;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>-->
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>