<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container>
        <register type="PMS.IBLL.IP_DepartmentInfoBLL,PMS.IBLL" mapTo="PMS.BLL.P_DepartmentInfoBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IP_GroupBLL,PMS.IBLL" mapTo="PMS.BLL.P_GroupBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IP_PersonInfoBLL,PMS.IBLL" mapTo="PMS.BLL.P_PersonInfoBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IJ_JobTemplateBLL,PMS.IBLL" mapTo="PMS.BLL.J_JobTemplateBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IUserInfoBLL,PMS.IBLL" mapTo="PMS.BLL.UserInfoBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IS_SMSContentBLL,PMS.IBLL" mapTo="PMS.BLL.S_SMSContentBLL,PMS.BLL"></register>

        <register type="PMS.IBLL.IJ_JobInfoBLL,PMS.IBLL" mapTo="PMS.BLL.J_JobInfoBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IUserInfoBLL,PMS.IBLL" mapTo="PMS.BLL.UserInfoBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IQRTZ_TRIGGERSBLL,PMS.IBLL" mapTo="PMS.BLL.QRTZ_TRIGGERSBLL,PMS.BLL"></register>

        <register type="PMS.IBLL.IS_SMSRecord_CurrentBLL,PMS.IBLL" mapTo="PMS.BLL.S_SMSRecord_CurrentBLL,PMS.BLL"></register>
        <register type="PMS.IBLL.IJ_JobInfoBLL,PMS.IBLL" mapTo="PMS.BLL.J_JobInfoBLL,PMS.BLL"></register>
        <register type="Fdfs.IDAL.IFdfsUploadDAL,Fdfs.IDAL" mapTo="Fdfs.DAL.FdfsUploadDAL,Fdfs.DAL"></register>
        <register type="Fdfs.IDAL.IFdfsDownloadDAL,Fdfs.IDAL" mapTo="Fdfs.DAL.FdfsDownloadDAL,Fdfs.DAL"></register>

       <register type="ISMS.ISMSSend,ISMS" mapTo="SMSFactory.SMSSend,SMSFactory"></register>
        <register type="ISMS.IMMSSend,ISMS" mapTo="SMSFactory.MMSSend,SMSFactory"></register>
        <register type="ISMS.ISMSQuery,ISMS" mapTo="SMSFactory.SMSQuery,SMSFactory"></register>
        <register type="ISMS.IMMSQuery,ISMS" mapTo="SMSFactory.MMSQuery,SMSFactory"></register>
      </container>
    </containers>
  </unity>
</configuration>
