<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>    
      <container>
        <register type="PMS.IBLL.IP_DepartmentInfoBLL,PMS.IBLL" mapTo="PMS.BLL.P_DepartmentInfoBLL,PMS.BLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
