<div id="setRoleDiv">
    <div class="easyui-window" id="showRoleWindow" title="分配角色" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
        <div class="easyui-layout" data-options="fit:true" style="border:0px">
            @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
            <div data-options="region:'center'" style="border:0px">
                <table class="easyui-datagrid" id="role" data-options="fit:true"></table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;height:38px; padding:5px 0 0;">
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" @*href="javascript:void(0)"*@ onclick="getRoleSelection()" style="width:80px">提交</a>
                <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelRoleAssign()" style="width:80px">取消</a>
            </div>
        </div>
        @* scrolling 不显示滚动条*@

    </div>
</div>
<div id="setActionDiv">
    <div class="easyui-window" id="showActionWindow" title="分配权限" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
        <div class="easyui-layout" data-options="fit:true" style="border:0px">
            @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
            <div data-options="region:'center'" style="border:0px">
                <table class="easyui-datagrid" id="action" data-options="fit:true"></table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;height:38px; padding:5px 0 0;">
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" @*href="javascript:void(0)"*@ onclick="getActionSelection()" style="width:80px">提交</a>
                <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelActionAssign()" style="width:80px">取消</a>
            </div>
        </div>
        @* scrolling 不显示滚动条*@

    </div>
</div>
<div id="resetPwdDiv">
        <div class="easyui-window" id="showResetPwdWindow" title="重置密码" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
            <div style="height:30px;width:100%;background-color:#000000"></div>
            <table style="margin-left:40px;width:90%" cellpadding="3">
                <tr>
                    <td>密码:</td>
                    <td class="comment">
                        <input id="UPwd" class="easyui-validatebox" style="width:80%;height:25px" type="password" name="UPwd" value="@ViewBag.UPwd" data-options="required:true,validType:['String','length[1,32]']"></input><br />
                        请输入登录密码
                    </td>
                </tr>
                <tr>
                    <td>请再次输入密码:</td>
                    <td class="comment">
                        <input id="RUPwd" class="easyui-validatebox" type="password" style="width:80%;height:25px" name="RUPwd" value="@ViewBag.UPwd" required="required" validType="Equals['#UPwd']"></input><br />
                        输入相同密码
                    </td>
                </tr>
            </table>
            <div style="text-align:center;padding:5px">
                <div style="text-align:center;padding:5px">
                    @*<input type="submit" value="提交" />*@
                    <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" onclick="DoResetPwd()" style="width:80px">提交</a>
                    <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">取消</a>
                </div>
            </div>
        </div>
        
    </div>
