
@{
    ViewBag.Title = "ShowEditInfo_1";
    Layout = "~/Views/Shared/_Admin_AddUser_Layout.cshtml";
    string backAction = ViewBag.backAction;
}
@section SectionJS{
    <style type="text/css">
        td{
            font-family:'Microsoft YaHei UI';
            color:#ffffff;
            font-weight:200;
        }

        .comment{
            font-family:'Microsoft YaHei';font-size:small;color:#aaa6a6
        }
    </style>
     
    }

<div style="padding:10px 60px 20px 60px">
    @using (Ajax.BeginForm(backAction, new { },
                                    new AjaxOptions()
                                    {
                                        OnSuccess = "afterEdit"
                                    }
                                    ))
    {
        <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
            <table cellpadding="4">
                <tr>
                    <td style="">用户名:</td>
                </tr>
                <tr>
                    <td class="comment"><input class="easyui-textbox" type="text" name="PName" data-options=""></input><br/>
                    请填写系统登录用户名</td>
                </tr>
                <tr>
                    <td>密码:</td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" type="password" name="PhoneNum" data-options=""></input></td>
                </tr>
                <tr>
                    <td>请再次输入密码:</td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" type="password" name="PhoneNum_again" data-options=""></input></td>
                </tr>
                <tr>
                    <td>备注:</td>
                </tr>
                <tr>
                    <td><input class="easyui-textbox" name="Remark" data-options="multiline:true" style="height:60px"></input>
                    </td>
                </tr>

            </table>
            <div style="text-align:center;padding:5px">
                <div style="text-align:center;padding:5px">
                    <input type="submit" value="提交" />
                </div>
            </div>
        </form>

    }

</div>

