<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--单位台式机-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A1BQQ7;initial catalog=PMS20160406;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A1BQQ7;initial catalog=SMS_NMEFC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--HP 840-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8S46LAE\SQLEXPRESS;initial catalog=SMS_NMEFC;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--部署服务器配置信息-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-V8O4TCV4R49;initial catalog=PMS20160406;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--430-->
    <!--<add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ADMIN-PC;initial catalog=PMS20160325;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--QuYuan-->
    <add name="PMS2016Entities" connectionString="metadata=res://*/PMSEntities.csdl|res://*/PMSEntities.ssdl|res://*/PMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QY-PC\SQLEXPRESS;initial catalog=SMS_NMEFC;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>