<div id="tb" style="padding:2px 5px;">
    <a href="#" class="easyui-linkbutton" istb="true" id="add_action" data-options="iconCls:'icon-add',text: '新增',plain:true" onclick="addRow()"></a>
    <a href="#" class="easyui-linkbutton" id="del_action" data-options="iconCls:'icon-remove',text: '删除',plain:true" onclick="removeRow()"></a>
    <a href="#" class="easyui-linkbutton" id="edit_action" data-options="iconCls:'icon-edit',text: '编辑',plain:true" onclick="editRow()"></a>
    <br />
    查询权限名<input class="easyui-validatebox" type="text" id="queryByActionName" style="width:'30%'" data-options="">
    查询区域名<input class="easyui-validatebox" type="text" id="queryByAreaName" style="width:'30%'" data-options="">
    查询控制器<input class="easyui-validatebox" type="text" id="queryByControllerName" style="width:'50%'" data-options="">
    查询方法名<input class="easyui-validatebox" type="text" id="queryByMethodName" style="width:'50%'" data-options="">
    查询备注<input class="easyui-validatebox" type="text" id="queryByRemark" style="width:'30%'" data-options="">
    <a class="easyui-linkbutton" iconCls="icon-search" onclick="searchBy()">查询</a>
</div>

