
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditActionWindow</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btn").click(function () {
                afterEdit();
            })
        })
        function afterEdit() {
            alert("提交成功");//——经测试提交表单成功后可以执行OnSucess的回调函数
            //提交表单成功后关闭本页面
            window.close();
            //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
        }
    </script>
</head>
<body>
    <div> 
        测试iframe
    </div>
    <input type="button" id="btn" value="关闭当前窗体"/>
</body>
</html>
