
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Name</h1>
        <h3>@ViewBag.Department</h3>
    </div>
</body>
</html>
