
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />

    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />


    @Scripts.Render("~/Scripts/myJquery")

    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    @*自己写的图标样式*@
    <link href="~/Scripts/MyCSS/MyIcon.css" rel="stylesheet" />
    <script src="~/Scripts/MyScripts/Common/my_SetiframeBody.js"></script>
    @*<script src="~/Scripts/MyCSS/MyEasyUIValidate.js"></script>*@
    <link href="~/Scripts/MyCSS/MyEditWin.css" rel="stylesheet" />
    @RenderSection("Scripts")
</head>
<body id="body" style="margin:0px;height:90%" onload="SetiframeHeight('body_layout')">
    @RenderSection("Body")
 </body>
</html>
