<div style="width:99%;height:49%;border:1px dashed #00ff90;">
    <div style="width:60%;height:100%;border:1px dashed #808080;float:left">
        <div id="p1" class="easyui-panel" title="当前用户发送短信统计" style="width:95%;height:95%;"
             data-options="collapsible:true,minimizable:true,maximizable:true,closable:true">
            <div class="easyui-datagrid" id="statisticlast10_datagrid" style="width:100%;height:100%;"></div>
        </div>
    </div>
    <div id="p21" style="width:39%;height:100%;border:1px dashed #808080;float:left;">
        <div id="p2" class="easyui-panel" title="当前用户发送短信趋势图" style="width:95%;height:95%;"
             data-options="collapsible:true,minimizable:true,maximizable:true,closable:true">
            <div id="last10_container" style="width:100%;height:100%;"></div>

        </div>
    </div>
</div>

