.icon-mygroup{
	background:url('/Images/Icon/Contact/group-large.png') no-repeat center center;
}
.icon-myPhonebook{
	background:url('/Images/Icon/Contact/phonebook-large.png') no-repeat center center;
}
.icon-addContacts{
	background:url('/Images/Icon/Contact/add_contacts.png') no-repeat center center;
}
.icon-addContacts-small{
	background:url('/Images/Icon/Contact/add_contacts-small.png') no-repeat center center;
}
.icon-add_person{
	background:url('/Images/Icon/Contact/add_person.png') no-repeat center center;
}
.icon-del_person{
	background:url('/Images/Icon/Contact/del_person.png') no-repeat center center;
}
