<div id="setActionRoleDiv">
    <div class="easyui-window" id="showActionWindow" title="title" style="width:520px;height:380px;overflow: hidden;" data-options="shadow:true,modal:true">
        <div class="easyui-layout" data-options="fit:true" style="border:0px">
            @*<div data-options="region:'east',split:true" style="width:100px"></div>*@
            <div data-options="region:'center'" style="border:0px">
                <table class="easyui-datagrid" id="actionDatagrid" data-options="fit:true"></table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;height:38px; padding:5px 0 0;">
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" @*href="javascript:void(0)"*@ onclick="getActionDgSelection()" style="width:80px">提交</a>
                <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSet()" style="width:80px">取消</a>
            </div>
        </div>
        @* scrolling 不显示滚动条*@

    </div>
</div>
