<div id="tb" style="padding:2px 5px;">
    <a href="#" class="easyui-linkbutton" istb="true" id="add_role" data-options="iconCls:'icon-add',text: '新增',plain:true" onclick="addRow()"></a>
    <a href="#" class="easyui-linkbutton" id="remove_role" data-options="iconCls:'icon-remove',text: '删除',plain:true" onclick="removeRow()"></a>
    <a href="#" class="easyui-linkbutton" id="edit_role" data-options="iconCls:'icon-edit',text: '编辑',plain:true" onclick="editRow()"></a>
    <a href="#" class="easyui-linkbutton" id="assignAction_role" data-options="iconCls:'icon-search',text: '为角色设置权限',plain:true" onclick="provideAction()"></a>
    <br />
    查询角色名<input class="easyui-validatebox" type="text" id="queryByRoleName" style="width:'50%'" data-options="">
    查询备注<input class="easyui-validatebox" type="text" id="queryByRemark" style="width:'50%'" data-options="">
    <a class="easyui-linkbutton" iconCls="icon-search" onclick="searchBy()">查询</a>
</div>

