
@{
    ViewBag.Title = "ShowEditSMSMissionInfo";
    Layout = "~/Views/Shared/_Contact_AddEdit_Layout.cshtml";
    int sort = (ViewBag.Sort == null ? 50 : ViewBag.Sort);
}

@section SectionJS{
    <script src="~/Scripts/MyScripts/Common/Submit.js"></script>
    <script type="text/javascript">
        function DoSubmit() {
            var myform = $("#ff");
            var options = {
                url: '@ViewBag.backAction_jqSub',
                type: 'post',
                success: function (data) {
                    afterEdit(data, "任务名称");
                }
            
            };
            myform.form('submit', options)
            }

            $(function () {
            })
            function CancelSend() {
                window.parent.CancelSend();                
            }
            function afterEdit(data, name) {

                //$.messager.alert('提醒', '提交成功!');
                //——经测试提交表单成功后可以执行OnSucess的回调函数
                //提交表单成功后关闭本页面
                //无法关闭此窗口
                //window.close();
                if (data == "ok") {
                    window.parent.afterContact_Common("修改成功", 0);
                    window.parent.Refresh();
                }
                else if (data == "validation fails") {
                    window.parent.afterContact_Common(name + "已经存在，请重新输入", 1)
                }
                else {
                    window.parent.afterContact_Common("修改失败", 0);
                }
                //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
            }
        
    </script>
}

<body style="margin:0px;">
    <div>
        <form id="ff" class="easyui-form" method="post" style="margin:0px;">
            <div style="height:30px;width:100%;background-color:#000000"></div>
            <input type="hidden" name="SMID" value="@ViewBag.SMID" />
            <input type="hidden" name="SubTime" value="@ViewBag.SubTime" />
            <table style="margin-left:40px;width:90%" cellpadding="3">
                <tr>
                    <td style="">任务名称:</td>
                    <td class="comment">
                        <input class="easyui-validatebox" type="text" name="SMSMissionName" value=@ViewBag.Name required="true" missingMessage="任务名称必须填写"></input><br />
                        请填写任务名称（请输入中文）
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td class="comment">
                        <input class="easyui-textbox" type="text" name="Remark" value="@ViewBag.Remark"data-options="multiline:true" style="height:50px;width:80%"></input> <br />
                        任务备注
                    </td>
                </tr>                
                <tr>
                    <td>优先级:</td>
                </tr>
                <tr>
                    <td class="comment" colspan="2">
                        <input class="easyui-slider" name="Sort" style="width:80%" data-options="showTip:true,
                               rule: [0,'|',25,'|',50,'|',75,'|',100],
                               value:'@sort'
                               "><br />
                        数字越小优先级越高
                    </td>
                </tr>
            </table>
            <div style="text-align:center;padding:5px">
                <div style="text-align:center;padding:5px">
                    @*<input type="submit" value="提交" />*@
                    <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" onclick="DoSubmit()" style="width:80px">提交</a>
                    <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">取消</a>
                </div>
            </div>
        </form>
    </div>
</body>



