
@{
    Layout = null;
    string backAction_jqSub = @ViewBag.backAction_jqSub;
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>新增</title>
    <link href="~/Scripts/EasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/EasyUI/themes/black/easyui.css" rel="stylesheet" />
    @*注意需要添加此css才能使用easyui默认的颜色*@
    <link href="~/Scripts/EasyUI/themes/color.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/MyScripts/Common/ValidateExtend.js"></script> 
    <script src="~/Scripts/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/MyScripts/jquery.msgProcess.js"></script>
    <script src="~/Scripts/MyScripts/Admin/IndexOperation.js"></script>
    @*<script src="~/Scripts/MyCSS/MyEasyUIValidate.js"></script>*@
    <script type="text/javascript">
        function DoSubmit() {
            var myform = $("#ff");
            var options = {
                url: '@ViewBag.backAction_jqSub',
                type: 'post',
                success: function (data) {
                    afterEdit(data,"短信任务名称");
                }
            };

            myform.form('submit', options);
        }
        function CancelSend() {
            window.parent.CancelSend();
        }

        function afterEdit(data,name) {

            //$.messager.alert('提醒', '提交成功!');
            //——经测试提交表单成功后可以执行OnSucess的回调函数
            //提交表单成功后关闭本页面
            //无法关闭此窗口
            //window.close();
            if (data == "ok") {
                window.parent.afterEdit("修改成功",0);
            }
            else if (data == "validation fails") {
                window.parent.afterEdit(name + "已经存在，请重新输入",1)
            }
            else{
                window.parent.afterEdit("修改失败",0);
            }
            //此处也可以调用window.parent.xxx——当前页面的父级页面中的xxx方法
        }
    </script>
</head>
<body>
    @*<div class="easyui-panel" title="New Topic" style="width:400px">*@
    <div style="padding:10px 60px 20px 60px">
        <form id="ff" class="easyui-form" method="post">
            <input type="hidden" name="SMID" value=@ViewBag.SMID />
            <table cellpadding="3">
                 <tr>
                    <td style="color:#ffffff">任务名称:</td>
                    <td><input class="easyui-validatebox"  type="text" name="SMSMissionName" value=@ViewBag.Name data-options="required:true,validType:['String','length[1,50]']" missingMessage="任务名称必须填写"></input></td>
                </tr>
                <tr>
                    <td style="color:#ffffff">备注:</td>
                    <td>
                        <input class="easyui-textbox" name="Remark" style="height:50px" value=@ViewBag.Remark data-options="multiline:true"></input>
                    </td>
                </tr>
                <tr>
                    <td style="color:#ffffff">创建时间:</td>
                    <td><input class="easyui-textbox" type="text" name="SubTime"  readonly="readonly" value=@ViewBag.SubTime></input></td>
                </tr>
                <tr>
                    <td style="color:#ffffff">最后修改时间:</td>
                    <td><input class="easyui-textbox" type="text" name="ModifiedOnTime"  readonly="readonly" value=@ViewBag.ModifiedOnTime></input></td>
                </tr>
            </table>
            <div style="text-align:center;padding:5px">
                <a class="easyui-linkbutton c6" style="margin-bottom:5px;width:30%" data-options="iconCls:'icon-ok'" style="width:80px" type="submit" onclick="DoSubmit()">提交</a>
                <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:30%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()">取消</a>
            </div>
        </form>
    </div>
    @*</div>*@

</body>
</html>