
<style type="text/css">
    #resetPwdTable {
        /*margin-left:40px;*/
        margin-top: 30px;
        width: 90%;
    }
</style>
<link href="~/Scripts/MyCSS/MyEditWin.css" rel="stylesheet" />
<script type="text/javascript">
    //$(function () {
    //    //关闭当前窗体
    //    $("#resetPwdDiv").window('close');
    //})
</script>

@*！！！注意此分部视图会在Home/Index以及User/Index中共用*@

<div id="resetPwdDiv">
    <div class="easyui-window" id="showResetPwdWindow" title="重置密码" style="width:454px;height:285px;overflow: hidden;" data-options="shadow:true,modal:true">
        <div style="height:30px;width:100%;background-color:#000000"></div>
        <table id="resetPwdTable" style="" cellpadding="2">
            <tr>
                <td style="font-size:medium;text-align:right">新密码:</td>
                <td class="comment">
                    <input id="UPwd" class="easyui-validatebox" style="width:80%;height:25px" type="password" name="UPwd" value="@ViewBag.UPwd" data-options="required:true,validType:['String','length[1,32]']"></input><br />
                    请输入新的登录密码
                </td>
            </tr>
            <tr>
                <td style="font-size:medium;text-align:right">请再次输入密码:</td>
                <td class="comment">
                    <input id="RUPwd" class="easyui-validatebox" type="password" style="width:80%;height:25px" name="RUPwd" value="@ViewBag.UPwd" required="required" validType="Equals['#UPwd']"></input><br />
                    输入相同密码
                </td>
            </tr>
        </table>
        <div style="text-align:center;padding:5px">
            <div style="text-align:center;padding:5px">
                @*<input type="submit" value="提交" />*@
                <a class="easyui-linkbutton c6" type="submit" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-ok'" onclick="DoResetPwd()" style="width:80px">提交</a>
                <a class="easyui-linkbutton c5" style="margin-bottom:5px;width:20%" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="CancelSend()" style="width:80px">取消</a>
            </div>
        </div>
    </div>

</div>

