<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*@RenderSection("jstest")*@
</head>

<body>
    @RenderSection("jstest")
    <br/>
    @RenderBody()
</body>
</html>

